@{
    Layout = "~/Views/luigis/MasterPage.cshtml";
}
<style>
    .tooltiptext1 {
        visibility: hidden;
        width: 300px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 10000000;
        top: -5px;
        left: 105%;
        text-align:left;
    }

    .tooltip1:hover .tooltiptext1 {
        visibility: visible;
    }

    .tooltip1 {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }
</style>
<section class="story-area bg-seller color-white pos-relative">
    <div class="pos-bottom triangle-up"></div>
    <div class="pos-top triangle-bottom"></div>
    <div class="container">
        <div class="heading">
            <img class="heading-img" src="~/images/heading_logo.png" alt="">
            <h2>Recommend food </h2>
            <div class="tooltip1">
                <img src="http://openweathermap.org/img/wn/@(ViewBag.weather.icon).png" width="50" height="50" style="width:50px !important" alt="">
                <div class="tooltiptext1">
                    <div>Describe : @ViewBag.weather.describe</div>
                    <div>Icon : <img src="http://openweathermap.org/img/wn/@(ViewBag.weather.icon).png" width="20" height="20" style="width:20px !important" alt=""></div>
                    <div>Temperature : @(ViewBag.weather.temperature ) °C</div>
                    <div>Humidity : @ViewBag.weather.humidity (g/m³)</div>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var food in ViewBag.topFoods)
            {
            <div class="col-lg-3 col-md-4  col-sm-6 tooltip1">
                <div class="center-text mb-30">
                    <div class="ïmg-200x mlr-auto pos-relative">
                        <h6 class="ribbon-cont"><div class="ribbon primary"></div><b>OFFER</b></h6>
                        <img src="@food.image" alt="">
                    </div>
                    <h5 class="mt-20">@food.foodName</h5>
                    <h4 class="mt-5"><b>$ @food.price</b></h4>
                    <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                </div><!--text-center-->
                <div class="tooltiptext1">
                    <div class="center-text mb-30">
                        <div class="s-left"><img class="br-3" src="@food.image" alt="Menu Image"></div><!--s-left-->
                        <div class="s-right">
                            <h5 class="mb-10"><b>@food.foodName</b></h5>
                            <p class="pr-70">@food.description</p>
                        </div><!--s-right-->
                    </div><!--text-center-->
                </div>
            </div><!-- col-md-3 -->
            }
        </div><!-- row -->

        <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="#" class="btn-primaryc plr-25"><b>SEE TODAYS MENU</b></a></h6>
    </div><!-- container -->
</section>


<section>
    <div class="container">
        <div class="heading">
            <img class="heading-img" src="~/images/heading_logo.png" alt="">
            <h2>Our Menu</h2>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <ul class="selecton brdr-b-primary mb-70">
                    <li><a class="active" href="#" data-select="*"><b>ALL</b></a></li>
                    @foreach (var type in ViewBag.foodTypes)
                    {
                        <li><a href="#" data-select="@type.name"><b>@type.name</b></a></li>
                    }
                </ul>
            </div><!--col-sm-12-->
        </div><!--row-->

        <div class="row">
            @foreach (var food in ViewBag.foods)
            {
                <div class="col-md-6 food-menu @food.foodType.name">
                    <div class="sided-90x mb-30 ">
                        <div class="s-left"><img class="br-3" src="@food.image" alt="Menu Image"></div><!--s-left-->
                        <div class="s-right">
                            <h5 class="mb-10"><b>@food.foodName</b><b class="color-primary float-right">$12.00</b></h5>
                            <p class="pr-70">@food.description</p>
                        </div><!--s-right-->
                    </div><!-- sided-90x -->
                </div><!-- food-menu -->
            }
        </div><!-- row -->

        <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="#" class="btn-primaryc plr-25"><b>SEE TODAYS MENU</b></a></h6>
    </div><!-- container -->
</section>
