
@{
    ViewData["Title"] = "order";
    Layout = "~/Views/luigis/MasterPage.cshtml";
}

<style>
    body {

    }
    .row {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
</style>

<div class="container">
    <h1>@ViewBag.sql</h1>
    <div class="row">
            <table id="customers">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                @foreach (var food in ViewBag.foods)
                {
                <tr class="food-container-@food.foodId">
                    <td>@food.foodName</td>
                    <td><input id="food-@food.foodId" type="number" class="form-control input-sm amount-food" value="1" price="@food.price" onchange="count();"></td>
                    <td>@food.price </td>
                    <td class="food-@food.foodId">@food.price </td>
                    <td>
                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete" onclick="remove('@food.foodId');">
                                delete
                            </button>
                    </td>
                </tr>
                }
            </table>
            <div class="panel-footer">
                    <div class="col-xs-9">
                        <h4 class="text-right">Total <strong id="Total">00.00</strong></h4>
                    </div>
                <hr />
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-success btn-block" onclick="submit();">
                            Checkout
                        </button>
                    </div>
            </div>

    </div>
</div>
<script>
    function count() {
        var els = document.getElementsByClassName("amount-food");
        var S = 0;
        for (var i = 0; i < els.length; i++) {
            var a = parseInt(els[i].value);
            var b = parseInt(els[i].getAttribute("price"));
            S += a * b;
            document.getElementsByClassName(els[i].id)[0].innerText = (a * b) + "";
            a = 1;
        }
        document.getElementById("Total").innerText = S+"";
    }
    count();
    function remove(id) {
        $('.food-container-' + id).remove();
        delCookie(id);
        count();
    }
    function submit() {
        var data = {};
        var els = document.getElementsByClassName("amount-food");
        for (var i = 0; i < els.length; i++) {
            data[els[i].id.substring(5)] = els[i].value;
        }
        $.ajax({
            url: "ordered",
            type: "post",
            dataType: "text",
            data: data,
            success: function (result) {
                alert(result)
                window.location.href = "/";
            }
        });
    }
</script>